[alias]
    # Adapted from https://blog.jez.io/cli-code-review/
    # REVIEW_BASE must be set before the command or in the shell
    # configuration

    # List files which have changed since REVIEW_BASE
    files = !git diff --name-only $(git merge-base HEAD \"$REVIEW_BASE\")

    # With stat for interactive use
    stat = !git diff --stat $(git merge-base HEAD \"$REVIEW_BASE\")
    
    # Put heatmap on your path:
    # https://github.com/jez/git-heatmap/blob/master/git-heatmap
    heatmap = git-heatmap
